.organisation-info {
    background-color: rgba(210, 210, 210, 0.355);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px 100px;
}

h2 {
    margin: 0;
}

h1 {
    left: 0%;
}

p {
    margin: 0;
}

.org-table {
    width: 70%;
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.pagination p {
    margin: 0 20px;
}

.users-list {
    margin-top: 0px;
}