.orgs-table {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

table tr:first-child {
    background-color: rgba(187, 186, 186, 0.436);
}

table tr:first-child:hover {
    background-color: rgba(187, 186, 186, 0.436);
    cursor: default;
}

table tr:hover {
  background-color: rgba(212, 212, 212, 0.234);;
  cursor: pointer;
}

h1 {
    text-align: center;
}